# --- VS & CMake 临时文件 ---
.vs/
out/
build/
cmake-build-*/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo
.cache/

# --- 编译产物 ---
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# --- 系统文件 ---
.DS_Store
Thumbs.db

# --- 注意 ---
# 不要忽略 src, include, shaders, assets, glm